.login-div:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    display: block;
    background-image: url(../img/bg.jpg);
    height: 100vh;
    background-size: auto 100%;
    background-position: right;    
}

.login-div{
    /* background-color: rgba(26, 188, 156,0.9); */
    background-color: rgba(22, 160, 133,0.85);
    height: 100vh;
}

.login-vlogo{
    width: 50%;
}

.login-input-style{
    background-color: transparent;
    border-style: none;
    font-size: 1em;
    font-weight: 100;
}

.login-input-style:focus{
    background-color: transparent;
    border-style: none;
    font-size: 1em;
    font-weight: 100;
}

.input-group{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ecf0f1;
    margin-top: 50px;
}

.input-group-text{
    border: none;
    background-color: transparent;
}

h1{
    color: white;
    font-size: 145%;
    font-weight: 400;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.captcha {
    margin-right: -20%;
    margin-left: 20%;
}
#resend-otp{
    border: 0;
}

#resend-otp-btn{
    color: white;
    text-align: right;
}

#entered-mobile{
    color: black;
}

.btn-login{
    color: #fff;
    background-color:#2ecc71;
    border-color:#2ecc71;
    padding: .75rem 2.75rem;
    margin-bottom: 10px;
    font-weight: 200;
}

.btn-login:hover{
    color: #fff;
    background-color: #27ae60;
    border-color: #27ae60;
}

#change-mobile-btn{
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 100;
    text-decoration: underline;
}

#reload-captcha:hover{
    cursor: pointer;
}