body{
    background-image: url('../img/hero-bg.jpg');
    font-family: Vazir, Tahoma;
    height: 100vh;
    overflow: auto;
}

body:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;    
}

h1 {
    font-size: 35px;
    color: #fff;
}

h2{
    /* font-size: 35px; */
    color: #fff;
}

.text-blue-green{
    color: #00BCD4;
}

.content-bottom {
    padding: 0em;
    margin: 0em;
    position: relative;
    z-index: 1;
}

form {
    border: 0;
    padding: 0;
    margin: 0;
}

form .field-group {
    background: #fff;
    margin-bottom: 20px;
    padding: 0px 10px 0px 0;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    position: relative;
}

form .field-group span {
    color: #999;
    position: absolute;
    right: 25px;
    top: 18px;
    opacity: .5;
}

.wthree-field input {
    padding: 12px 50px 12px 0;
    font-size: 18px;
    color: #999;
    letter-spacing: 0.5px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.content-w3ls ul li {
    display: inline-block;
}

.content-w3ls ul li {
    display: inline-block;
}

.wthree-field button.btn {
    background: #005796;
    border: none;
    color: #fff;
    padding: 12px 15px;
    font-size: 16px;
    width: 100%;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.logo{
    filter: brightness(0) invert(1);
    width: 170px;
}

.logo-small{
    filter: brightness(0) invert(1);
    width: 100px;
}

.copyright {
    direction: ltr;
    padding: 0 20px;
}

.copyright p {
    color: #ccc;
    font-size: 17px;
    line-height: 26px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
}

.copyright p a {
    color: #fff;
    text-transform: lowercase;
}

.description{
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

/********************/
/* Menu style start */
.menu {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.menu li {
    margin: 0px;
    display: inline-block;
    float: left;
}

.menu a {
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.menu li.active a {
    color: #00BCD4;
    background: transparent;
}

.menu li > a:only-child:after {
    content: '';
}
/* Menu style end */
/********************/



.hidden{
    display: none !important;
}

.flex{
    display: flex !important;
}

.result-box{
    height: 450px;
    width: 100%;
    border: 15px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: white;
    box-shadow: -5px -5px #505050, -10px -10px #777777, -15px -15px #999999,                
                5px -5px #505050 , 10px -10px #777777 , 15px -15px #999999;
}

#print-area{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
}

#print-image{
    height: 100%;
    width: 100%;
}

#print-image > img {
    width: 100%;
    height: 100%;
}
